html {
    background-color:black;
    text-align: center;
}
h1{
    color:grey;
    font-weight: bold;
}
.container {
    background-color:white;
    text-align: left;
    margin-left: 37%;
    margin-right: 37%;
    padding: 20px;
    border-radius: 25px;
}
.error {
    color: red
}
.normal{
    color:black 
}
.form{
    padding-left: 60px;
}